@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/Gilroy-Light.otf");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}
html {
  font-family: "Gilroy-Light";
}

.green-btn {
  display: inline;
  font-weight: 700;
  font-size: 17px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #00C97B 0%, #00D981 96.96%);
  box-shadow: 0px 4px 4px rgba(1, 203, 124, 0.2);
  border-radius: 36px;
  text-decoration: none;
  padding: 20px 40px;
}

.background {
  background: linear-gradient(79.63deg, #5B52A3 1.08%, #40B8EA 100%);
  border-radius: 36px;
  width: 90% !important;
}

.section__title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 44px;
  line-height: 50px;
  margin-top: 160px;
}

.span-green {
  color: #01CD7D;
}

.header {
  height: 120px;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__link {
  color: #1F2428;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.header__sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__sign-image {
  margin-right: 11px;
}
.header__sign-link {
  color: #1F2428;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}
.header__contact {
  font-size: 13px;
}

.poster {
  display: flex;
  align-items: center;
  height: 680px;
}
.poster__info-title {
  font-family: "Gilroy-ExtraBold";
  color: #FFFFFF;
  font-weight: 800;
  font-size: 60px;
  line-height: 80px;
  margin: 0px;
}
.poster__info-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 42px;
  color: #FFFFFF;
}
.poster__info-link {
  display: inline-block;
}

.benefits {
  margin-bottom: 160px;
}
.benefits__tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 54px;
  align-items: center;
}
.benefits__tab {
  display: flex;
  justify-content: space-between;
}
.benefits__tab-image {
  margin-right: 17px;
}
.benefits__tab-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.benefits__info-title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin-top: 60px;
}
.benefits__info-image {
  width: 100%;
}
.benefits__priceblock {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.benefits__priceblock-image {
  width: 75px;
  height: 54px;
  border-radius: 8px;
  margin-right: 28px;
}
.benefits__priceblock-country {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.benefits__priceblock-price {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin: 0;
}
.benefits__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits__slider-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits__slider-item:nth-child(even) {
  flex-direction: column;
}
.benefits__slider-image {
  height: 112px;
}
.benefits__slider-arrow {
  margin: 0 45px;
}
.benefits__slider-text1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
.benefits__slider-text2 {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin: 0;
}
.benefits__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  height: 180px;
}
.benefits__footer-block {
  padding: 15px;
  display: flex;
  border-right: 1px solid #C0C9D7;
}
.benefits__footer-block:last-child {
  border: none;
}
.benefits__footer-image {
  margin: 0 26px;
}
.benefits__footer-text {
  margin-right: 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.assignment {
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.assignment__image {
  margin: 50px 76px 50px 0;
}
.assignment__info-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.assignment__info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.assignment__info-link {
  display: inline-block;
  margin-top: 30px;
}

.calculation {
  margin-top: 160px;
}
.calculation__text {
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.calculation__form {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
.calculation__item {
  border-bottom: 1px solid #C0C9D7;
  padding-bottom: 15px;
}
.calculation__item-title {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
  font-size: 14px;
}
.calculation__item-data {
  display: flex;
  align-items: center;
}
.calculation__item-image {
  margin-right: 10px;
}
.calculation__item-input {
  font-family: "Gilroy-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  border: none;
}
.calculation__item-input:focus {
  border: none;
}
.calculation__link {
  display: inline-block;
  margin-top: 10px;
}
.calculation__delivery-header {
  font-family: "Gilroy-ExtraBold";
  font-weight: 800;
  font-size: 36px;
  line-height: 56px;
  margin-top: 130px;
}
.calculation__delivery-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.calculation__delivery-name {
  display: flex;
  flex-grow: 1;
  border-right: 1px solid #C0C9D7;
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.calculation__delivery-name img {
  margin: 0 25px;
}
.calculation__delivery-data {
  border-right: 1px solid #C0C9D7;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculation__delivery-data span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.calculation__delivery-data p {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}
.calculation__delivery-arrowDown {
  align-content: end;
}
.calculation__delivery-arrowDown img {
  margin-left: 16px;
}

.steps {
  padding-top: 20px;
}
.steps__block-header {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
}
.steps__block-text {
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
}
.steps__block-text span {
  color: #01CD7D;
}
.steps__footer {
  padding-top: 20px;
  padding-bottom: 100px;
}
.steps__footer-text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.steps__footer-link {
  display: inline-block;
  margin-top: 30px;
}

.clients__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
}
.clients__block-header {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-top: 30px;
}
.clients__block-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.clients__reviews {
  padding-top: 50px;
  margin-bottom: 20px;
}
.clients__reviews-header {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 56px;
}
.clients__reviews-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.clients__reviews-image {
  border-radius: 8px;
  width: 40%;
  margin-right: 20px;
}
.clients__reviews-name {
  font-family: "Gilroy-ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.clients__reviews-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}
.clients__reviews-date {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.clients__reviews-date span {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
}
.clients__reviews-city {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.clients__reviews-city span {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
}
.clients__reviews-link {
  display: inline-block;
  margin-top: 30px;
}

.address__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  padding: 65px 200px;
}
.subscribe_text {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #FFFFFF;
}